---
page_title: "chronosphere_blackhole_alert_notifier Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Blackhole Alert Notifier.
---

# chronosphere_blackhole_alert_notifier (Resource)

Manages a Chronosphere Blackhole Alert Notifier.

## Example Usage

{{tffile "examples/resources/chronosphere_blackhole_alert_notifier/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_blackhole_alert_notifier/import.sh"}}
