---
page_title: "chronosphere_classic_dashboard Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Classic Dashboard.
---

# chronosphere_classic_dashboard (Resource)

Manages a Chronosphere Classic Dashboard.

## Example Usage

{{tffile "examples/resources/chronosphere_classic_dashboard/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_classic_dashboard/import.sh"}}
