---
page_title: "chronosphere_collection Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Collection.
---

# chronosphere_collection (Resource)

Manages a Chronosphere Collection.

## Example Usage

{{tffile "examples/resources/chronosphere_collection/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_collection/import.sh"}}
