---
page_title: "chronosphere_consumption_budget Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Consumption Budget.
---

# chronosphere_consumption_budget (Resource)

Manages a Chronosphere Consumption Budget.

## Example Usage

{{tffile "examples/resources/chronosphere_consumption_budget/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_consumption_budget/import.sh"}}
