---
page_title: "chronosphere_consumption_config Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Consumption Config.
---

# chronosphere_consumption_config (Resource)

Manages a Chronosphere Consumption Config.

## Example Usage

{{tffile "examples/resources/chronosphere_consumption_config/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_consumption_config/import.sh"}}
