---
page_title: "chronosphere_dashboard Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Dashboard.
---

# chronosphere_dashboard (Resource)

Manages a Chronosphere Dashboard.

## Example Usage

{{tffile "examples/resources/chronosphere_dashboard/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_dashboard/import.sh"}}
