---
page_title: "chronosphere_derived_label Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Derived Label.
---

# chronosphere_derived_label (Resource)

Manages a Chronosphere Derived Label.

## Example Usage

{{tffile "examples/resources/chronosphere_derived_label/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_derived_label/import.sh"}}
