---
page_title: "chronosphere_derived_metric Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Derived Metric.
---

# chronosphere_derived_metric (Resource)

Manages a Chronosphere Derived Metric.

## Example Usage

{{tffile "examples/resources/chronosphere_derived_metric/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_derived_metric/import.sh"}}
