---
page_title: "chronosphere_drop_rule Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Drop Rule.
---

# chronosphere_drop_rule (Resource)

Manages a Chronosphere Drop Rule.

## Example Usage

{{tffile "examples/resources/chronosphere_drop_rule/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_drop_rule/import.sh"}}
