---
page_title: "chronosphere_gcp_metrics_integration Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Gcp Metrics Integration.
---

# chronosphere_gcp_metrics_integration (Resource)

Manages a Chronosphere Gcp Metrics Integration.

## Example Usage

{{tffile "examples/resources/chronosphere_gcp_metrics_integration/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_gcp_metrics_integration/import.sh"}}
