---
page_title: "chronosphere_log_allocation_config Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Log Allocation Config.
---

# chronosphere_log_allocation_config (Resource)

Manages a Chronosphere Log Allocation Config.

## Example Usage

{{tffile "examples/resources/chronosphere_log_allocation_config/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_log_allocation_config/import.sh"}}
