---
page_title: "chronosphere_log_control_config Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Log Control Config.
---

# chronosphere_log_control_config (Resource)

Manages a Chronosphere Log Control Config.

## Example Usage

{{tffile "examples/resources/chronosphere_log_control_config/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_log_control_config/import.sh"}}
