---
page_title: "chronosphere_logscale_action Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Logscale Action.
---

# chronosphere_logscale_action (Resource)

Manages a Chronosphere Logscale Action.

## Example Usage

{{tffile "examples/resources/chronosphere_logscale_action/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_logscale_action/import.sh"}}
