---
page_title: "chronosphere_logscale_alert Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Logscale Alert.
---

# chronosphere_logscale_alert (Resource)

Manages a Chronosphere Logscale Alert.

## Example Usage

{{tffile "examples/resources/chronosphere_logscale_alert/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_logscale_alert/import.sh"}}
