---
page_title: "chronosphere_mapping_rule Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Mapping Rule.
---

# chronosphere_mapping_rule (Resource)

Manages a Chronosphere Mapping Rule.

## Example Usage

{{tffile "examples/resources/chronosphere_mapping_rule/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_mapping_rule/import.sh"}}
