---
page_title: "chronosphere_monitor Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Monitor.
---

# chronosphere_monitor (Resource)

Manages a Chronosphere Monitor.

## Example Usage

{{tffile "examples/resources/chronosphere_monitor/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_monitor/import.sh"}}
