---
page_title: "chronosphere_notification_policy Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Notification Policy.
---

# chronosphere_notification_policy (Resource)

Manages a Chronosphere Notification Policy.

## Example Usage

{{tffile "examples/resources/chronosphere_notification_policy/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_notification_policy/import.sh"}}
