---
page_title: "chronosphere_otel_metrics_ingestion Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Otel Metrics Ingestion.
---

# chronosphere_otel_metrics_ingestion (Resource)

Manages a Chronosphere Otel Metrics Ingestion.

## Example Usage

{{tffile "examples/resources/chronosphere_otel_metrics_ingestion/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_otel_metrics_ingestion/import.sh"}}
