---
page_title: "chronosphere_recording_rule Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Recording Rule.
---

# chronosphere_recording_rule (Resource)

Manages a Chronosphere Recording Rule.

## Example Usage

{{tffile "examples/resources/chronosphere_recording_rule/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_recording_rule/import.sh"}}
