---
page_title: "chronosphere_resource_pools_config Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Resource Pools Config.
---

# chronosphere_resource_pools_config (Resource)

Manages a Chronosphere Resource Pools Config.

## Example Usage

{{tffile "examples/resources/chronosphere_resource_pools_config/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_resource_pools_config/import.sh"}}
