---
page_title: "chronosphere_rollup_rule Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Rollup Rule.
---

# chronosphere_rollup_rule (Resource)

Manages a Chronosphere Rollup Rule.

## Example Usage

{{tffile "examples/resources/chronosphere_rollup_rule/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_rollup_rule/import.sh"}}
