---
page_title: "chronosphere_service_account Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Service Account.
---

# chronosphere_service_account (Resource)

Manages a Chronosphere Service Account.

## Example Usage

{{tffile "examples/resources/chronosphere_service_account/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_service_account/import.sh"}}
