---
page_title: "chronosphere_service_attribute Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Service Attribute.
---

# chronosphere_service_attribute (Resource)

Manages a Chronosphere Service Attribute.

## Example Usage

{{tffile "examples/resources/chronosphere_service_attribute/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_service_attribute/import.sh"}}
