---
page_title: "chronosphere_slo Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Slo.
---

# chronosphere_slo (Resource)

Manages a Chronosphere Slo.

## Example Usage

{{tffile "examples/resources/chronosphere_slo/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_slo/import.sh"}}
