---
page_title: "chronosphere_team Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Team.
---

# chronosphere_team (Resource)

Manages a Chronosphere Team.

## Example Usage

{{tffile "examples/resources/chronosphere_team/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_team/import.sh"}}
