---
page_title: "chronosphere_trace_jaeger_remote_sampling_strategy Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Trace Jaeger Remote Sampling Strategy.
---

# chronosphere_trace_jaeger_remote_sampling_strategy (Resource)

Manages a Chronosphere Trace Jaeger Remote Sampling Strategy.

## Example Usage

{{tffile "examples/resources/chronosphere_trace_jaeger_remote_sampling_strategy/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_trace_jaeger_remote_sampling_strategy/import.sh"}}
