---
page_title: "chronosphere_trace_metrics_rule Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Trace Metrics Rule.
---

# chronosphere_trace_metrics_rule (Resource)

Manages a Chronosphere Trace Metrics Rule.

## Example Usage

{{tffile "examples/resources/chronosphere_trace_metrics_rule/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_trace_metrics_rule/import.sh"}}
