---
page_title: "chronosphere_trace_tail_sampling_rules Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Trace Tail Sampling Rules.
---

# chronosphere_trace_tail_sampling_rules (Resource)

Manages a Chronosphere Trace Tail Sampling Rules.

## Example Usage

{{tffile "examples/resources/chronosphere_trace_tail_sampling_rules/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_trace_tail_sampling_rules/import.sh"}}
