---
page_title: "chronosphere_webhook_alert_notifier Resource - chronosphere"
subcategory: ""
description: |-
  Manages a Chronosphere Webhook Alert Notifier.
---

# chronosphere_webhook_alert_notifier (Resource)

Manages a Chronosphere Webhook Alert Notifier.

## Example Usage

{{tffile "examples/resources/chronosphere_webhook_alert_notifier/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/chronosphere_webhook_alert_notifier/import.sh"}}
